body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container-sm{
    margin-top: 60px;
    max-width: 400px;
    height: 820px;
    border: 1px solid #9c9c9c;
    background-color: #b9e6eb;
    border-radius: 10px;
    box-shadow: 5px 1px 10px #0d3283;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #00306e;
}

#newUserBar{
    background-color: #414141;
}

#newProductBar{
    background-color: #b9e6eb;
    box-shadow: 5px 1px 10px #0d3283;
}

#updateUsersBar{
    background-color: #b9e6eb;
    box-shadow: 5px 1px 10px #0d3283;
}

#menu-pos{
    padding-left: 20px;
    padding-right: 20px;
}

button{
    margin-left: 30%;
}

h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00306e;
}

#marg-volver{
    margin-top: 10px;
}